#cover {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: linear-gradient(153.91deg, #183749 16.43%, #1C2541 90.72%);

  > p {
    font-style: italic;
    color: var(--primary200);
    margin: 1rem auto;
  }
}

.maskContainer {
  @import '../lib/util/utils.scss';

  display: flex;
  overflow: hidden;
  position: relative;
  pointer-events: none;

  .maskObject {
    width: 100%;
    height: 100%;

    @include vendor-prefix('mask', 'url("/hero.svg") no-repeat');
    @include vendor-prefix('mask-size', 'contain');

    animation: driftRight cubic-bezier(.08,.82,.17,1) 8s forwards 1;
  }

  > .maskOverlay {
    @extend .maskObject;

    position: absolute;
    top: 0;
    z-index: 10;

    background: #0B132B;
    mix-blend-mode: overlay;
  }

  > img {
    @extend .maskObject;
    object-fit: cover;
  }

  @keyframes driftRight {
    from { @include vendor-prefix('mask-position', '0% 0%'); }
    to { @include vendor-prefix('mask-position', '10% 0%'); }
  }
}

/* ------------------------------------------------------------------------------------ */

.content {
  max-width: 70%;
  margin: auto;
  padding-top: 5rem;

  .xpContainer > ul {  
    padding: 0;
    list-style-type: none;
  }

  .xp > ul {
    list-style-type: disc;
  }

  :global(article) {
    padding: 0 min(5vw, 5rem);
    margin-bottom: 8rem;
    border-left: 2px solid var(--primary100);
    opacity: 0;
  }

  :global(article.animated) {
    animation: fadeIn 1s ease-out 1 forwards, slideUp 3s ease-out forwards;
  }
}

@media screen and (max-width: 600px) {
  .content {
    max-width: 90%;
  }
}